.followitems {
    padding-top: 100px;
    margin-bottom: 100px;
}

.followitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.followitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #593A27;
    font-size: 18px;
    font-weight: 600;}

.followitems-format {
    font-size: 17px;
    font-weight: 400;
}

.followicon-product-icon {
    height: 62px;
}

.followitems-remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}