.bottom-bar {
    background: #CFA06A;
    height: 200px;
    margin-top: 100px;
}

.bottom-bar .container {
    display: flex;
    justify-content: center;
    padding: 62px 0;
    align-items: center;
}

.bottom-bar .container p {
    font-size: 25px;
    flex-basis: 40%;
    color: #593A27;
    line-height: 1.5;
    margin-right: 80px;
}

.bottom-bar .container p span {
    font-weight: 600;
}

.bottom-bar .container .btn-brown {
    background: transparent;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 10px 40px;
    font-weight: 700;
    color: #593A27;
    border: 1px solid #593A27;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
}

.bottom-bar .container .btn-brown:hover {
    background-color: #593A27;
    color: #CFA06A;
    border: 1px solid #593A27;
}

footer {
    background-color: #CFA06A;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer div img {
    width: 200px;
}

footer div p {
    color: #593A27;
    font-weight: 500;
    margin-top: 5px;
    text-align: center
}